<nav class="navbar">
  <h2>Smart Kitchen</h2>

  <div class="links">
    <a routerLink="/">Home</a>
    <ng-container *ngIf="authService.isLoggedIn$ | async; else loggedOut">
      <a routerLink="/add">Add Recipe</a>
      <a routerLink="/pantry">My Pantry</a>
      <a routerLink="/profile">Profile</a>
      <a (click)="onLogout()">Logout</a>
    </ng-container>
    <ng-template #loggedOut>
      <a routerLink="/signup">Sign Up</a>
      <a routerLink="/login">Login</a>
    </ng-template>
  </div>
</nav>

<hr />

<router-outlet></router-outlet>
