<div *ngIf="recipe" class="detail-container">

  <h2>{{recipe.title}}</h2>

  <p><strong>Category:</strong> {{ recipe.category }}</p>
  <p><strong>Servings:</strong> {{ recipe.servings }}</p>

  <!-- IMAGE -->
  <img [src]="getImageUrl(recipe.image, recipe.category)" [alt]="recipe.title + ' image'">

  <p>{{recipe.description}}</p>

  <h4>Instructions</h4>
  <p>{{recipe.instructions}}</p>

  <!-- PDF -->
  <a *ngIf="recipe.pdf_file" [href]="getPdfUrl(recipe.pdf_file)" target="_blank">📄 View PDF</a>
  <h3>Ingredients</h3>

<ul>
  <li *ngFor="let ing of recipe.recipe_ingredients">
    {{ ing.ingredient_name }} - {{ ing.quantity }}<span *ngIf="ing.unit || ing.ingredient_unit"> {{ ing.unit || ing.ingredient_unit }}</span>
  </li>
</ul>

</div>