<div class="form-container">
  <h2>{{ isEditMode ? 'Edit Recipe' : 'Add Recipe' }}</h2>

  <div class="form-group">
    <label>Title</label>
    <input [(ngModel)]="recipe.title" name="title" placeholder="Recipe title" required />
  </div>

  <div class="form-group">
    <label>Description</label>
    <input [(ngModel)]="recipe.description" name="description" placeholder="Short description" />
  </div>

  
  <label>Category:</label>
  <select [(ngModel)]="recipe.category">
    <option *ngFor="let category of recipeCategories" [value]="category.value">
      {{ category.label }}
    </option>
  </select>

 <label>Servings:</label>
  <input type="number" [(ngModel)]="recipe.servings" placeholder="Servings" min="1">


  <div class="form-group">
    <label>Instructions</label>
    <textarea [(ngModel)]="recipe.instructions" name="instructions" placeholder="Step by step instructions"></textarea>
  </div>

  <div class="form-group">
    <label>Image</label>
    <input type="file" (change)="onFileChange($event, 'image')" />
  </div>

  <div class="form-group">
    <label>PDF</label>
    <input type="file" (change)="onFileChange($event, 'pdf_file')" />
  </div>

  <!-- Ingredient Search -->
  <div class="form-group">
    <label>Ingredients</label>
    <div class="search-wrapper">
      <input
        type="text"
        [(ngModel)]="ingredientSearch"
        name="ingredientSearch"
        placeholder="Search ingredient..."
        (input)="onSearchInput()"
        (focus)="showSuggestions = true"
        (blur)="showSuggestions = false"
        autocomplete="off"
      />
      <ul *ngIf="showSuggestions && suggestions.length > 0" class="suggestions">
        <li *ngFor="let s of suggestions" (mousedown)="selectIngredient(s)">
          {{ s.name }} <span>{{ s.category }}</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Selected Ingredients Tags -->
  <div *ngIf="selectedIngredients.length > 0" class="tags">
    <div *ngFor="let ing of selectedIngredients" class="tag">
      <span class="tag-name">{{ ing.name }}</span>
      <input
        type="number"
        [(ngModel)]="ing.quantity"
        [name]="'qty_' + ing.ingredient"
        placeholder="qty"
        min="0"
        step="0.1"
        required
      />
      <select [(ngModel)]="ing.unit" [name]="'unit_' + ing.ingredient" required class="unit-select">
        <option *ngFor="let unit of ing.allowed_units" [value]="unit">{{ unit }}</option>
      </select>
      <button type="button" (click)="removeIngredient(ing.ingredient)">✕</button>
    </div>
  </div>

  <button class="submit-btn" (click)="submit()">
    {{ isEditMode ? 'Update' : 'Add Recipe' }}
  </button>
</div>
